/.metadata/
Server/.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments.gen
Server/.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.tis
Server/.recommenders/caches/identified-project-coordinates.json
Server/.gitignore
PServer/test.py
JServer/src/.settings/org.eclipse.core.runtime.prefs
JServer/src/.project
JServer/src/.classpath
Server/.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/segments_1
Server/.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fdt
Server/.recommenders/caches/manual-mappings.json
JServer/src/test.csv
JServer/src/data.csv
JServer/src/.gitignore
Server/.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fnm
Server/.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.fdx
JServer/src/.settings/org.eclipse.core.resources.prefs
Server/.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.tii
Server/.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.prx
Server/.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.nrm
PServer/tempdata.csv
Server/.recommenders/index/http___download_eclipse_org_recommenders_models_photon_/_0.frq
